<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itpvt.forecast">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ican"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".All_Products_Design" />
        <activity android:name=".ProductDetails" />
        <activity android:name=".Sub_Categories" />
        <activity android:name=".My_Cart" />
        <activity android:name=".Check_Out" />
        <activity android:name=".Categery" />
        <activity android:name=".Nothing" />
        <activity android:name=".FullScreenImage" />
        <activity android:name=".Avail"></activity>
    </application>


</manifest>